# anywhere: patterns
*~
*.a
*.dsp
*.la
*.lo
*.o
*.serveez

# anywhere: specific filenames
.deps
.libs
Makefile
Makefile.in

# The rest of the file contains entries grouped by directory,
# mixing both patterns and specific filenames.

/*.dsw
/*.tar.gz
/INSTALL
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/configure
/libtool
/stamp-h*

/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/fake-soelim
/build-aux/guile-baux
/build-aux/guile-baux.state
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/doc/*.1
/doc/*.info
/doc/*.pdf
/doc/guile-api.texi
/doc/guile-boot.texi
/doc/mb-blurb
/doc/mb-rel
/doc/serveez-api.html
/doc/serveez-api.texi
/doc/serveez.html
/doc/serveez.t2p
/doc/snippets
/doc/stamp-*
/doc/version*.texi

/src/*.log
/src/*.x
/src/c.tsar
/src/config.h
/src/config.h.in
/src/guile-boot.c
/src/guile-missing.h
/src/libserveez.h
/src/scm.tsar
/src/serveez
/src/serveez-config
/src/stamp-h*
/src/svzconfig.h

/src/irc-server/timestamp.c

/src/libserveez/libserveez.tsar
/src/libserveez/svzpath.h

/test/*.err
/test/*.log
/test/btdt
/test/but-of-course

# Local variables:
# mode: shell-script
# End:
