# anywhere: patterns
*.a
*.dsp
*.la
*.lo
*.o
*.serveez

# anywhere: specific filenames
.deps
.libs
Makefile
Makefile.in

# The rest of the file contains entries grouped by directory,
# mixing both patterns and specific filenames.

/*.dsw
/*.tar.gz
/INSTALL
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/configure
/libtool
/stamp-h*

/build-aux/config.guess
/build-aux/config.sub
/build-aux/debian.sh
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/redhat.sh
/build-aux/texinfo.tex

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/doc/*.info
/doc/*.sed
/doc/.scan
/doc/guile-api.texi
/doc/serveez-api.html
/doc/serveez-api.texi
/doc/serveez-procedures.txt
/doc/serveez.html
/doc/stage
/doc/stamp-*
/doc/version*.texi

/src/config.h
/src/config.h.in
/src/*.log
/src/mkpassword
/src/serveez
/src/serveez-config
/src/serveez.cfg
/src/stamp-h*
/src/svzconfig.h
/src/version.h

/src/libserveez/svzpath.h

/test/*-test

# Local variables:
# mode: shell-script
# End:
